.header-phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 156px;
}

.phone {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    width: 156px;
}

.phone img {
    width: 21px;
    height: 21px;
}

.mesen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    font-size: 12px;
    text-decoration: none;
    width: 156px;
}